{% extends "layout.html.twig" %}

{% block articletab %}active{% endblock %}

{% block content %}
    <h2 class="page-header">All articles</h2>
    
    {% for article in articles %}
        <span style="margin-bottom: 0px; font-size: 12px; font-weight: bold;">{{ article.date }}:</span><br/>
        <h4 style="margin-top: 0px;"><a href="#">{{ article.title }}</a></h4>
    {% endfor %}
{% endblock %}
