<div class="blogIntroduction">
    <p>The Smart App blog is a place where we discuss news, customers, tips and tricks about our applications. For additional information on Smart App, check out the blog posts, where we discuss product design, business and strategy.</p>
</div>
<div class="blogCategories">
    <h3>Navigation</h3>
    <ul class="nav-list">
        <li><a href="{{ path('home') }}">All Articles</a></li>
        <li><a href="{{ path('code') }}">Code</a></li>
        <li><a href="{{ path('games') }}">Games</a></li>
        <li><a href="{{ path('tech') }}">Tech</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
    </ul>
</div>
<div class="blogAuthors">
    <h3>Contact</h3>
</div>